@model List<Project.Models.Surfboard>

@section title {
    <h1>Longboards</h1>
}
<link href="/lib/bootstrap/css/surfBoardCards.css" rel="stylesheet">

<div class="row">
    @Html.Partial("_SurfBoardCards", Model) <!-- Dette sender modelen til partial viewet -->
</div>