################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SurfsUpWebApi/.vs/SurfsUpWebApi/FileContentIndex/443e9156-48e8-410a-95e4-c7d9cc8a41da.vsidx
/SurfsUpWebApi/.vs/SurfsUpWebApi/FileContentIndex/5b52b6e5-b29a-48e7-b158-36785727f1c4.vsidx
/SurfsUpWebApi/.vs/SurfsUpWebApi/FileContentIndex/af7e8587-2b74-431b-a6aa-c6c30cd4d34e.vsidx
/SurfsUpWebApi/.vs/SurfsUpWebApi/FileContentIndex/b7be3952-d1eb-4f46-ac94-204700bd0f99.vsidx
