/* General styling */
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body, html {
    margin: 0;
    padding: 0;
}

/* Header background styling */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.1), rgba(4,9,30,0.1)), url('johny-goerend-XWWKKdG4Arg-unsplash%20kopi%202.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    background-color: white;
    padding: 70px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    margin-right: 20px;
}
.navbar li a {
    font-family: "Matemasie", sans-serif;
    font-size: 40px;
    color: rgb(103,171,159);
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
}
.navbar li a:hover {
    color: rgb(255, 87, 34);
}
.header {
    padding-top: 60px;
}
.Frontpagetext{
    font-family: "Roboto", sans-serif;
    text-align: center;
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}