
<link href="/css/home.css" rel="stylesheet">

@section Title {

    <picture>
        <source data-sizes="auto"
                data-srcset="/assets/baggrund.jpg?quality=85&width=1280&format=webp 1280w,
                        /assets/baggrund.jpg?quality=85&width=1600&format=webp 1600w,
                        /assets/baggrund.jpg?quality=85&width=1920&format=webp 1920w"
                type="image/webp"
                sizes="100vw">

        <img src="/assets/baggrund.jpg?quality=50&width=600"
             alt="baggrund"
             style="width: 100vw; height: auto; object-fit: cover;"
             sizes="100vw"
             srcset="
                /assets/baggrund.jpg?quality=85&width=1280 1280w,
                /assets/baggrund.jpg?quality=85&width=1600 1600w,
                /assets/baggrund.jpg?quality=85&width=1920 1920w" />
    </picture>
   
    <section class="Tilbud">
        <h3>Tilbud og kampagner</h3>
        </>
        <p>Surfboard
        </p>

    </section>
}


