<<<<<<< HEAD
﻿
<link href="lib/bootstrap/css/home.css" rel="stylesheet">
=======
﻿<link href="/lib/bootstrap/css/home.css" rel="stylesheet">
>>>>>>> 7bc906569e4fe77e690b8479fe91069e3f22d87b
    <section class="header">
        <div class="Frontpagetext">
            <h1>Af Surfere For Surfere</h1>
        </div>
    </section>