.custom-close {
    position: absolute;
    top: 15px; 
    right: 15px;
    background-color: transparent; 
    border: none; 
    font-size: 1.5rem;
    color: #000; 
    cursor: pointer;
}

    .custom-close:hover {
        color: #000; 
    }

.logo {
    height: 60px;
    position: absolute;
    top: 0;
    left: 25px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.nav-item dropdown{
    float: right;
}

main {
    padding-top: 50px;
}

li {
    list-style-type: none !important;
}
